.inputBox{
    margin:0px;
    height:100vh;
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    

}
.inputBox_field{
    padding: 10px;
    box-shadow: 5px 10px #888888;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:white;
    justify-content: center;
    border-radius: 15px;
    width: 70%;
    height: fit-content;
    padding-top: 10px;
    padding-bottom: 30px;
}

.inputBox_field > img {
    height: 20%;
    width: 30%;
    padding: 15px;
}

.inputBox_field >form > button{
    margin-top: -1px;
    margin-left: 2px;
    background-color: rgb(43, 119, 219);
}
